@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;700;800&display=swap');

html,
body, p, h1, h2, h3, h4, span {
  padding: 0;
  margin: 0;
  font-family: 'Exo', sans-serif;
}

html{
  background: #f5f5f5;
}

a {
  color: #DC6926 !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.navul li{
  color:#000;
}
